@model List<ServiceViewModel>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<section>
    <div class="section-title">
        <div class="h3 text-center position-relative">
            Services
        </div>
    </div>
    <div class="col-md-12 p-4 section-table section-scroll">
        <table class="table text-center col-md-10 table-services align-middle">
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var service in Model)
                    {
                        <tr>
                            <td class="col-md-1">
                                <img src="../@service.ImagePath.Replace(@"\", "/")" style="height: 50px; width: 50px;" />
                            </td>
                            <td class="col-md-auto text-start">
                                <div class="fw-bold">
                                    @service.Name
                                </div>
                                <div class="text-secondary">
                                    @service.Category.Name
                                </div>
                            </td>
                            <td class="col-md-1">
                                @if (service.Advertisement != null)
                                {
                                    <div>@service.Price BYN</div>
                                    <div class="text-decoration-line-through">@(service.Price * 100 / (100 - service.Advertisement.Discount)) BYN</div>
                                }
                                else
                                {
                                    @service.Price @:BYN
                                }
                            </td>
                            <td class="col-md-1">
                                @service.Time
                            </td>
                            <td class="col-md-1">
                                <a class="record-create-link" asp-action="Index"
                           asp-controller="Worker" asp-area="" asp-route-serviceId="@service.ServiceId">
                                    <i class="bi bi-journal-text"></i>
                                    <span>
                                        Book
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">There are no services in the business.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
